<div class="order-tracker">
	<div>
		select food for {{orderManager.selectedDay}}!
	</div>
	{{#each-in orderManager.menuSelection as |day menuOrder|}}
		<div>
			{{day}}
			<dl>
				<dt>Breakfast</dt>
				<dd>{{menuOrder.breakfast}}</dd>
				<dt>Lunch</dt>
				<dd>{{menuOrder.lunch}}</dd>
				<dt>Dinner</dt>
				<dd>{{menuOrder.dinner}}</dd>
			</dl>
		</div>
	{{/each-in}}
</div>		
{{yield}}